.expenses {
  padding: 1rem;
  background-color: #b7e4c7;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  box-shadow: 0 1px 8px #34a0a4;
}

@media (max-width: 640px) {
  .expenses {
    max-width: 75%;
  }
}
